:host {
  display: block;
}

md-progress-bar {
  position: absolute;
}
// button:focus {
//     outline: none;
//     background-color: #fff;
// }
button:focus {
    outline: none;
    background-color: #eee;
}