.demo-basic {
  padding: 0;
}
.demo-basic md-card-content {
  padding: 16px;
}
.demo-full-width {
width: 500px;
height:200px;
}
h2 {
 font-family: 'Rock Salt', cursive;
    font-size: 25px;
    font-weight: 500; // white-space: pre-wrap;
}
